* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h1 {
    color: #ffffff;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    min-height: 100%;
    background: #000000;
    color: #ffffff;
}

button {
    background: none;
    width: 100%;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: var(--color);
    transition: 0.25s;
}

button:hover,
button:focus {
    border-color: var(--hover);
    color: var(--hover);
    transition: 0.7s
}

a {
    all: unset;
}

.subtitle {
    font-size: 18px;
    color: var(--hover);
    opacity: 0.75;
}

.home {
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px var(--hover), 0 0 20px var(--hover), 0 0 25px var(--hover), 0 0 30px var(--hover), 0 0 35px var(--hover);
  }
  
  to {
    text-shadow: 0 0 10px #fff, 0 0 15px var(--hover), 0 0 20px var(--hover), 0 0 25px var(--hover), 0 0 30px var(--hover), 0 0 35px var(--hover), 0 0 40px var(--hover);
  }
}

.pulse:hover,
.pulse:focus {
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    box-shadow: 0 0 0 2em transparent;
}

.pulse {
    --color: #ffffff;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}

@-webkit-keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}
